[package]
name = "mcrl2-sys"
links = "mcrl2"
edition.workspace = true
license.workspace = true
rust-version.workspace = true
version.workspace = true

[dependencies]
merc_tools.workspace = true
cxx.workspace = true

[build-dependencies]
cxx-build.workspace = true
cc.workspace = true
cmake = { optional = true, workspace = true }
cargo-emit.workspace = true

[features]
# Enables the compiling cpptrace option for mCRL2, this gives proper backtraces on exceptions.
mcrl2_cpptrace = ["dep:cmake"]

# Enables the compiling rewriter option for mCRL2.
mcrl2_jittyc = []